.container {
	width: 400px;
	height: 400px;
	margin: auto;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 2px;

	.box {
		border: solid green;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.zero {
		border: none;
	}
}
